export PROJECT="snapburg"

for x in `cat docker-compose.env`
do
  export $x;
done

for x in `cat __local.env`
do
  export $x;
done

#. ${WORKON_HOME}/${PROJECT}/bin/activate
#export PS1='($PROJECT)'$PS1
layout virtualenvwrapper $PROJECT
