Django
Pillow
djangorestframework
psycopg2
pytz
sqlparse
python-memcached
django-extensions
django-jquery
django-rest-swagger
django-filter
markdown
django-jsonfield
#django-taggit
environs
drf-yasg
#django-photologue
django-qrcode
django-bootstrap4
fpdf
django-imagekit
WeasyPrint
django-middleware-global-request